<h1> Tiny App </h1>


  <% if (user) { %>
    <h3>Logged in as <%= user %> !</h3>
      <form method="POST" action="/logout">
        <button name="logout" class="btn btn-secondary">Would you like to Logout?</button>
      </form>
      <% } else { %>
        <a href=http://localhost:8080/register>Register</a>
        <a href=http://localhost:8080/login>Login</a>
      <% } %>



